

/* Corresponde desde línea 1 hasta línea 258.En el archivo styleajedrez.css corresponde a los estilos de la página que corresponde desde el inicio del archivo index.html hasta el elemento "principal__seccion" que termina el área que explica los movimientos de las piezas del juego
*/

:root{	

	--letra_fuente:'Noto Serif Georgian', serif;
	--porcentaje_one:30%;
	--porcentaje_two:70%;
	--clr_body_one:#212121;
	--clr_body_two:#9fa3a9;
	--clr_titulo:#1f2124;
	--clr_refran:#1f2124;
	--clr_box:#1f2124;
	--clr_basico:#1f2124;
	--clr_border:#9fa3a9;
	--clr_inicial:#fe0000;
	--clr_cuerpo_one:#8dcfec;
	--clr_cuerpo_two:#58afdd;
	--clr_navegar:#f4eee1;
	--clr_divNavegar:#f4eee1;
	--clr_divItem:#f4eee1;
	--clr_borderGrid:#9fa3a9;
	--clr_gridItem:#f4e6c9;
	--clr_borderJugar:#212121;
	--clr_tituloLetra:#212121;
	--clr_hoverClr:#c20000;
	--clr_before:#58afdd;
	--clr_href:#b4ff9a;
	--clr_container:#212121;
	--clr_footer:#bdbdbd;
	--clr_parrafoFooter:#272727;
	--clr_fuente:#212121;
}

.body{	
	
	margin: 0px;
	padding: 0px;
	background:linear-gradient(to bottom,var(--clr_body_one) var(--porcentaje_one),var(--clr_body_two) var(--porcentaje_two));
	font-family: var(--letra_fuente);
	
		
}
.header{	
	width: 65%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	display: flex;		
	background:linear-gradient(to bottom,var(--clr_cuerpo_one) var(--porcentaje_one),var(--clr_cuerpo_two) var(--porcentaje_two));
}

.header__titulo{
	width: 100%;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;		
	text-align: center;		
	color:var(#1f2124);
}

.header__refran{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
	color:var(--clr_refran);
	text-align: center;	
}

.imgPrincipal{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 65%;	
	height: 15rem;	
    box-shadow: -5px 5px 20px var(--clr_box);
	
}

.principal{
	width: 65%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	display: flex;
}
.primera__parte{
	width: 100%;
	background:linear-gradient(to bottom,var(--clr_cuerpo_one) var(--porcentaje_one),var(--clr_cuerpo_two) var(--porcentaje_two));
}
.principal__titulo{	
	font-size: 1.8rem;
	color: var(--clr_basico);
	display: flex;
	text-align: center;
	justify-content: center;	
	border: 3px solid var(--clr_border);
	border-radius: 2px;
	margin: 1.5rem;
	}

.principal__tituloH3{	
	display: flex;
	text-align: center;
	justify-content:left;
	font-size: 1.6rem;
	margin: 1.5rem;
}
.principal__seccion{
	
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background:linear-gradient(to bottom,var(--clr_cuerpo_one) var(--porcentaje_one),var(--clr_cuerpo_two) var(--porcentaje_two));
}

.seccion{
	width: 85%;	
	font-size: 1.2rem;
	font-weight:500;	
	text-align: justify;
	text-indent: 15%;
	margin: 0.3rem;
	line-height: 1.5rem;
}

.imgInicial{
	width: 20rem;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;		
	padding: 0.9rem;
	box-shadow: -5px 5px 10px black;
	transition: 3s all;
}

.imgInicial:hover{
	transform: scale(1.05);
}
.inicial{	
	color: var(--clr_inicial);	
}
.titulo__peon{
	width: 95%;
	display: flex;
	align-items: center;
	justify-content:left;
	font-size: 1.6rem;
			
}
.titulo__peon:before{
	content: "♟";
	width: 3rem;
	border: 3px solid var(--clr_before);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imgPeon{
	width: 20rem;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;		
	padding: 0.9rem;
	box-shadow: -5px 5px 10px black;
	transition: 3s all;
}
.imgPeon:hover{
	transform: scale(1.05);
}

.titulo__reyna{	
	width: 95%;
	display: flex;
	text-align: center;
	justify-content: left;
	font-size: 1.6rem;
	
}
.titulo__reyna::before{
	content: "♛";
	width: 3rem;
	border: 3px solid var(--clr_before);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.imgReyna{
	width: 20rem;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;		
	padding: 0.9rem;
	box-shadow: -5px 5px 10px black;
	transition: 3s all;
}

.imgReyna:hover{
	transform: scale(1.05);
}

.titulo__caballo{
	width: 95%;
	display: flex;
	text-align: center;
	justify-content: left;
	font-size: 1.6rem;
	
}
.titulo__caballo:before{
	content: "♞";
	width: 3rem;
	border: 3px solid var(--clr_before);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.imgCaballo{
	width: 20rem;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;		
	padding: 0.9rem;
	box-shadow: -5px 5px 10px black;
	transition: 3s all;
}
.imgCaballo:hover{
	transform: scale(1.05);
}
.titulo__alfil{
	width: 95%;
	display: flex;
	text-align: center;
	justify-content: left;
	font-size: 1.6rem;
	
}
.titulo__alfil:before{
	content: "♝";
	width: 3rem;
	border: 3px solid var(--clr_before);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.imgAlfil{
	width: 20rem;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;		
	padding: 0.9rem;
	box-shadow: -5px 5px 10px black;
	transition: 3s all;
}

.imgAlfil:hover{
	transform: scale(1.05);
}
.titulo__torre{
	width: 95%;
	display: flex;
	text-align: center;
	justify-content: left;
	font-size: 1.6rem;
	
}
.titulo__torre::before{
	content: "♜";
	width: 3rem;
	border: 3px solid var(--clr_before);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imgTorre{
	width: 20rem;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;		
	padding: 0.9rem;
	box-shadow: -5px 5px 10px black;
	transition: 3s all;
}
.imgTorre:hover{
	transform: scale(1.05);

}
.titulo__rey{
	width: 95%;
	display: flex;
	text-align: center;
	justify-content: left;
	font-size: 1.6rem;
	
}
.titulo__rey::before{
	content: "♚";
	width: 3rem;
	border: 3px solid var(--clr_before);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imgRey{
	width: 20rem;
	height: 20rem;
	display: flex;
	align-items:center;
	justify-content: center;		
	padding: 0.9rem;
	box-shadow: -5px 5px 10px black;
	transition: 3s all;
}
.imgRey:hover{
	transform: scale(1.05);
}
