
:root{
    --letra_fuente:'Mali', cursive;
    --color_sombra:#fe2020;
    --color_fuente:#222222;
    --color_before:#797470;
    --color_border:#54707f;
    --color_footer:#2f353b;
    --color_pie:#222222;
}
.cuerpo{
   
    background-image:linear-gradient(to left, #ece2c6,#f5deb3);
    
}
.encabezado{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
.titulo{
    display: flex;   
    align-items: center; 
    justify-content: center;
    width: 100%;
    
}
.titulo_principal{
    font-size: 3rem;
    display: flex;   
    align-items: center; 
    justify-content: center;
    width: 100%;
}
.parrafo-1{
    
    font-size: 1.5rem;
    margin: 0rem 5rem;
    text-align: center;    
    color:var(--color_fuente); 
    text-shadow: 0.1rem 0.1rem 0.2rem var(--color_sombra);          
}
.formulario{   
    text-align: center;    
}
.form_titulo{
    font-size: 2.7rem;
}
.imagen-1{
    width:25rem;
    height:12.5rem;
    box-sizing: border-box;
    border-width: 0.5rem;
    border-style: solid;
    border-color: var(--color_fuente);
    padding: 0.5rem;
}
.titulo_ingredientes{
    margin: 2rem 3rem; 
    text-align: center;
    color: var(--letra_fuente);    
}
.parrafo-2{
    margin: 1rem 4rem;  
    font-size:1.5rem;
    color:var(--letra_fuente);
    text-shadow: 0.1rem 0.1rem 0.2rem var(--color_sombra); 
}
.parrafo-2::before{
    color:var(--color_before);
    content: "✱";
}
.imagenes{
    margin: 1.5rem 0rem 1.5rem 8rem;
    width: 18rem;
    height: 18rem;
    box-sizing: border-box;
    border-width: 0.5rem;
    border-style: solid;
    border-color: var(--color_border);
    padding: 0.5rem;
}
.parrafo-3{
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0rem 10rem;
    color: var(--color_fuente);
    text-shadow: 0.1rem 0.1rem 0.2rem var(--color_sombra);
}
.piedePagina{
    margin: 2rem 7rem 2rem 7rem;
	box-sizing: border-box;
	border-color: var(--color_pie);
	border-width: 0.5rem;
	border-style: solid;
	box-shadow: -0.3rem -0.3rem 1rem var(--color_pie);	
    line-height:0.5rem;    
	text-align: center;    
	background-image: linear-gradient(to left,#f3b671, #da9342);
}
.pagina_parrafo{
    font-size: 1.3rem;
    color:var(--color_footer);    
}
.piedePagina p::before {
    content: "❋";
}

@media screen and (max-width: 960px){
    .imagen-0{
        width: 100%;
        height: 20rem;
    }   
    .titulo_principal{
        font-size: 2rem;
    }
    .parrafo-1{
        font-size: 1.2rem;
        margin: 0rem 8rem;
    }
    .form_titulo{
        font-size: 2rem;
    }
    .titulo_ingredientes{
        font-size: 1.5rem;
        margin: 1rem 8rem 0rem 8rem;
    }
    .parrafo-2{
        font-size: 1.2rem;
        margin: 1rem 8rem;
        line-height: 1rem;
    }
    .parrafo-3{
        font-size: 1.2rem;
    }
    .pagina_parrafo{
        font-size: 1rem;
    }
}
@media screen and (max-width: 769px){
    .cuerpo{   
        background-image:linear-gradient(to left, #d5d2ca,#cccccc);        
    }
    .imagen-0{
        width: 100%;
        height: 20rem;
    }   
    .imagen-1{
        width:20rem;
        height:10rem;
        box-sizing: border-box;
        border-width: 0.3rem;
        border-style: solid;
        border-color: var(--color_fuente);
        padding: 0.5rem;
    }
    .parrafo-2{
        width: 100%;
        line-height: 1rem;
    }
    .parrafo-3{
        margin: 0rem 5rem;
    }
    .titulo_ingredientes{
        font-size: 1.1rem;
        margin: 1rem 1rem;    
}
.piedePagina{
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    border-color: var(--color_pie);
    border-width: 0.3rem;
    border-style: solid;
    box-shadow: -0.3rem -0.3rem 1rem var(--color_pie);	
    line-height:0.3rem;    
    text-align: center;    
    background-image: linear-gradient(to left,#f3b671, #da9342);
}
}

@media screen and (max-width: 540px){
    .cuerpo{   
        background-image:linear-gradient(to left, #fec8d8,#ffdfd3);        
    }
    .imagen-0{
        width: 100%;
        height: 12rem;
    }    
    .imagen-1{
        width: 15rem;
        height: 10rem;
    }
    .titulo_principal{
        font-size: 2rem;
    }
   
    .parrafo-1{
        font-size: 1.1rem;
        margin: 0rem 3rem;
    }
    .form_titulo{
        font-size: 2rem;
    }
    .titulo_ingredientes{
        font-size: 1.2rem;
        margin: 1rem 1rem;
        line-height: 1.3rem;
    }
    .parrafo-2{
        font-size: 1.2rem;
        margin: 1rem 1rem 1rem 3rem;
        line-height: 1.1rem;
    }
    .imagenes{
        margin: 2rem;
    }
    .parrafo-3{
        margin: 0rem 2rem;
    }
    .pagina_parrafo{
        font-size: 1rem;
    }
    .piedePagina{
        margin: 1rem 1rem 1rem 1rem;
    }
   
}
@media screen and (max-width: 365px){
    .imagen-0{
        width: 100%;
        height: 10rem;
    }    
    .form_titulo{
        font-size: 1.3rem;
    }   
    .titulo_ingredientes{
        font-size: 1.1rem;
        margin: 1rem 1rem;
    }
    .parrafo-2{
        font-size: 1.1rem;
    }

    .imagenes{
        width: 15rem;
        height: 15rem;
        box-sizing: border-box;
        border-width: 0.3rem;
        border-style: solid;
    }
    .parrafo-3{
        line-height: 1.5rem;
    }
    .piedePagina{
        height: 10rem;
    }
    .pagina_parrafo{
        font-size: 1rem;
        line-height: 0.5rem;
    }
}

